{
    "parser": "babel-eslint",
    "rules": {
        "comma-dangle": [ 0 ],
        "no-this-before-super": [ 2 ],
        "constructor-super": [ 2 ],
        "indent": [ 2, 4 ],
        "linebreak-style": [ 2, "unix" ],
        "no-var": [ 1 ],
        "prefer-const": [ 1 ],
        "no-const-assign": [ 2 ],
        "no-unused-vars": [ 2, { "vars": "all", "args": "none"} ],
        "semi": [ 2, "never" ]
    },
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "extends": "eslint:recommended",
    "ecmaFeatures": {
        "modules": true,
        "experimentalObjectRestSpread": true
    },
}
